@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000d3f url(../imagens/image\ 2.png);
    font-family: 'Jost', sans-serif;
    color: #fff;
    width: 100vw;
}

header ul {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}

 li a:hover {
    padding: 5px 10px;
    background-color: #120625;
    border: 1px solid #fff;
    border-radius: 11px;
    transition: 0.5s;
}

button:hover {
    background-color: #010411;
    transition: 0.5s;
}

#atual {
    padding: 5px 10px;
    background-color: #120625;
    border: 1px solid #fff;
    border-radius: 11px;
}

#container {
    display: flex;
}

main {
    width: 520px;
    text-align: center;
    margin: auto auto auto 40px;
}

h1 {
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.p, span{
    font-size: 77px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #6119A9, #9811A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: end;
}
.pp{
    text-align: center;
}

main p {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}

main button {
    background: linear-gradient(187.72deg, #9811A1 -20.1%, rgba(34, 56, 164, 0) 165.12%);
    width: 300px;
    height: 76px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

button a {
    font-size: 32px;
    font-weight: 500;
}

picture {
    width: 640px;
}

#tec {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    
}

#tec .p {
    text-align: end;
}

#img {
    display: flex;
    margin: auto 30px auto auto;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #401B9E 0%, rgba(1, 0, 255, 0) 92.71%);
}

img {
    width: 721px;
}



